{% extends 'base.html.twig' %}

{% block title %}Connexion - ShareNotes{% endblock %}

{% block body %}
<div class="auth-container">
    <div class="auth-card">

        <img src="S.png" class="auth-logo">

        <h1 class="auth-title">Connexion au compte ShareNotes</h1>

        {% if error %}
            <div class="auth-error">
                Email ou mot de passe incorrect
            </div>
        {% endif %}

        <form method="post">

            <div class="input-group">
                <label>Email</label>
                <input type="email" name="email" value="{{ last_username }}" class="form-control" required autofocus>
            </div>

            <div class="input-group">
                <label>Mot de passe</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="auth-btn" type="submit">
                Se connecter
            </button>

        </form>


        <div class="auth-footer">
            Pas de compte ?
            <a href="{{ path('app_register') }}">Créer un compte</a>
        </div>

    </div>
</div>
{% endblock %}