{% extends 'base.html.twig' %}

{% block body %}
<h1>Paramètres</h1>

<ul>
    <li><a href="{{ path('app_settings_email') }}">Changer email</a></li>
    <li><a href="#">Changer mot de passe</a></li>
    <li><a href="#">Profil</a></li>
    <li><a href="#">Supprimer compte</a></li>
</ul>

{% endblock %}