{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}
<h1>Changer votre mot de passe</h1>

{{ form_start(form) }}
{{ form_widget(form) }}

<button type="submit">Enregistrer</button>
{{ form_end(form) }}

{% endblock %}