{% extends 'base.html.twig' %}

{% block title %}Créer une note{% endblock %}

{% block body %}

<div class="app-container">

    <h1>Créer une note</h1>

    <form method="post">
        <div class="mb-3">
            <input type="text" name="title" placeholder="Titre" class="form-control" required>
        </div>

        <div class="mb-3">
            <textarea name="content" class="form-control"></textarea>
        </div>

        <button class="btn btn-primary">Enregistrer</button>
    </form>

</div>

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js"></script>

<script>
  tinymce.init({
    selector: 'textarea',
    height: 300,
    menubar: false,
    plugins: 'lists link',
    toolbar: 'undo redo | bold italic underline | bullist numlist | link'
  });
</script>

{% endblock %}