{% extends 'base.html.twig' %}

{% block title %}{{ note.title }} - ShareNotes {% endblock %}

{% block body %}

<div class="overlay">

    <div class="note-header">
        <h1>{{ note.title }}</h1>

        <div class="actions">
            <a href="{{ path('app_note') }}" class="btn btn-secondary">
                Retour
            </a>

            <button id="shareBtn" class="btn btn-primary">
                Partager cette note
            </button>
        </div>
    </div>

    <div class="note-content">
        {{ note.content|raw }}
    </div>

</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const btn = document.getElementById('shareBtn');

    if (!btn) return;

    btn.addEventListener('click', async function () {
        try {
            
            const url = window.location.href;

            await navigator.clipboard.writeText(url);

            const originalText = btn.textContent;
            const originalClass = btn.className;

            
            btn.textContent = "Lien copié";
            btn.classList.add("btn-success-temp");

            setTimeout(() => {
                btn.textContent = originalText;
                btn.className = originalClass;
            }, 2000);

        } catch (err) {
            console.error("Erreur copie :", err);
        }
    });
});
</script>

{% endblock %}