<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ShareNotes{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('ShareNotes.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}Gestion et partage de vos notes en toute simplicité.{% endblock %}">
    
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/test.css">
</head>
<body class="{% block body_class %}{% endblock %}">

    <div id="app" class="app-container">
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
    </div>

    {% block javascripts %}
        <script src="{{ asset('js/app.js') }}?v=1"></script>
    {% endblock %}

</body>
</html>