<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ShareNotes{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

<div class="app-container">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>
</html> {# Attention, ceci est la Première version, elle pourrait changer dans les jours à venir #}