{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
<div class="app-container">

    <header class="page-header">
        <h1 class="page-title">Catégories</h1>
    </header>

    {% if categories is not empty %}
        {% for categorie in categories %}
            <article class="note-card">
                <h4 class="note-title">{{ categorie.nomCategorie }}</h4>
                <p>{{ categorie.description|length > 100 ? categorie.description|slice(0, 100) ~ '...' : categorie.description }}</p>
                <a href="{{ path('categorie_show', {'id': categorie.id}) }}" class="btn btn-primary rounded-btn mt-2">
                    Voir les notes crées
                </a>
            </article>
        {% endfor %}
    {% else %}
        <div class="note-card text-center">
            <p>Oops, aucune catégorie disponible.</p>
        </div>
    {% endif %}

</div>
{% endblock %}